/ai-server/ @ai-team
/deployment/ @devops
/docs/ @devs
/infinity_gauntlet/ @web
/mail_templates/ @backend
/marketing/ @backend
/payment-server/ @backend
/security/ @backend
/server/ @backend
/troll-app/ @ai-team
/troll-server/ @ai-team
/troll-server-sxsw/ @ai-team
/troll-server-v2/ @ai-team
/wildr-log-parser/ @backend
/wildr-flutter/ @mobile
/wildr_lambda/ @backend
/wildr-website/ @backend
/general/ @backend
/.github/ @devops
