<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187835001286-clfr5c7o2vefvvs337qae9ep2mfikj1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187835001286-clfr5c7o2vefvvs337qae9ep2mfikj1u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187835001286-ttr8p30ibakgldepcumom41ng5ac7i41.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBY4ZvvZOjj2Wj-SjJ6-GbcOBOTVc46Akw</string>
	<key>GCM_SENDER_ID</key>
	<string>187835001286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wildr.staging</string>
	<key>PROJECT_ID</key>
	<string>wildr-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>wildr-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187835001286:ios:04350403acd5b29daf6ac7</string>
	<key>DATABASE_URL</key>
	<string>https://wildr-staging-default-rtdb.firebaseio.com</string>
</dict>
</plist>