<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868345598504-89net1l3qig2vpth8r2802c0eopbejkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868345598504-89net1l3qig2vpth8r2802c0eopbejkr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>868345598504-89nq1nbfjis02f2hpcg2c7kpa31a26l3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOjpqv1m7UwQTpWwShbVhlWRjjmxep1a4</string>
	<key>GCM_SENDER_ID</key>
	<string>868345598504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wildr.dev</string>
	<key>PROJECT_ID</key>
	<string>wildr-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>wildr-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868345598504:ios:8ee2023d094a1d393e1b1d</string>
	<key>DATABASE_URL</key>
	<string>https://wildr-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>