commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/pre"
    ignoreErrors: true
files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/01-create-uploads-dir.sh":
      mode: "000777"
      content: |
        #!/bin/bash
        mkdir -p /var/app/current/tmp/uploads/
        chmod 755 /var/app/current/tmp/uploads/
