# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-format-resources-eb.html
option_settings:
  aws:autoscaling:launchconfiguration:
    # Allow SSH from bastion only in the default AWSEBSecurityGroup
    SSHSourceRestriction: 'tcp, 22, 22, 127.0.0.1/32'
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    DeregistrationDelay: 60
    HealthCheckInterval: 120
    HealthCheckTimeout: 60
    HealthyThresholdCount: 5
