<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wildr_flutter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>11</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
				<key>dateExpires</key>
				<string>4/8/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>8.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>8.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>8.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>8.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>8.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>8.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>8.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>5.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_facebook_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_fgbg.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_crop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>photo_manager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sign_in_with_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5FC77F6C3ADC47504D26CE66E9A7DDB128D54C91</string>
						<key>dateExpires</key>
						<string>4/8/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>934QMYUYQ2</string>
						<key>name</key>
						<string>Om Swami Meditations Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>934QMYUYQ2.com.wildr.v1</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:wildrv1.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>934QMYUYQ2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b38e0c24-7abb-4d0a-ab94-7f96bb61d069</string>
				<key>dateExpires</key>
				<string>4/8/22</string>
				<key>name</key>
				<string>WildrV1-Ad Hoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>934QMYUYQ2</string>
				<key>name</key>
				<string>Om Swami Meditations Inc</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.1</string>
		</dict>
	</array>
</dict>
</plist>
